<!-- Subsequent Follow-up -->
<div class="row border rounded-5 bg-light px-3 pb-4 gx-1 gy-2 mb-4">
    <!-- R0 - Title - Subsequent Follow-up -->
    <div class="col-sm-12">
      <h4 id="scrollspyHeading8" class="text-center border-bottom pb-2">
        Subsequent Follow-up
      </h4>
    </div>

    <!-- DR1 MR1&2 - Subsequent Follow-up -->
    <div class="col-sm-12 form-floating">
        <textarea
          id="Subsequent"
          class="form-control"
          style="height: 15vh"
          placeholder="Subsequent"
        ></textarea>
        <label for="Subsequent"
          >Subsequent Advice and Follow-up</label
        >
      </div>

</div>