<!-- Generate Summary and Save Btn -->
<div class="row border rounded-5 bg-light px-3 pb-4 gx-1 gy-2 mb-4">
    <!-- R0 - Title - Subsequent Follow-up -->
    <div class="col-sm-12">
      <h4 id="scrollspyHeading8" class="text-center border-bottom pb-2">
        Generate Summary and Save
      </h4>
    </div>

    <!-- DR1 Incomplete Message Div, Submit Btn, Generate Summary Btn-->
    <div class="d-grid col-10 mx-auto">
        <div
          class="form-text text-danger text-center"
          id="Submitbutton"
        ></div>
        <button class="btn btn-primary mb-2" onclick="genSummary()">Generate Summary</button>
        <button class="btn btn-success" type="submit">Save to Database</button>
      </div>
</div>